# IRIS

##### Import libraries

In [8]:
import pandas as pd
import numpy as np

##### Read dataset

In [21]:
df = pd.read_csv('Dataset/iris.data', index_col=0)

##### Perform 1 hot encoding on the dataset

In [22]:
df.head()

              sepal.width  petal.length  petal.width      variety
sepal.length
5.1                   3.5           1.4          0.2  Iris-setosa
4.9                   3.0           1.4          0.2  Iris-setosa
4.7                   3.2           1.3          0.2  Iris-setosa
4.6                   3.1           1.5          0.2  Iris-setosa
5.0                   3.6           1.4          0.2  Iris-setosa

In [24]:
df = pd.get_dummies(df)

,sepal.width,petal.length,petal.width,variety_Iris-setosa,variety_Iris-versicolor,variety_Iris-virginica
sepal.length,,,,,,
5.1,3.5,1.4,0.2,1,0,0
4.9,3.0,1.4,0.2,1,0,0
4.7,3.2,1.3,0.2,1,0,0
4.6,3.1,1.5,0.2,1,0,0
5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...
6.7,3.0,5.2,2.3,0,0,1
6.3,2.5,5.0,1.9,0,0,1
6.5,3.0,5.2,2.0,0,0,1
6.2,3.4,5.4,2.3,0,0,1
5.9,3.0,5.1,1.8,0,0,1

##### Shuffle the whole dataset
Shuffling the dataset before splitting because if we shuffle the dataset manually after splitting then the problem of mis-match data and label will occur.

In [12]:
df = df.sample(frac=1)

In [13]:
lenghtofData = len(df.index)
lenghtofData

150

In [14]:
df.iloc[:3,:]

,sepal.width,petal.length,petal.width,variety_Iris-setosa,variety_Iris-versicolor,variety_Iris-virginica
sepal.length,,,,,,
6.5,3.2,5.1,2.0,0,0,1
5.0,3.0,1.6,0.2,1,0,0
5.1,3.8,1.6,0.2,1,0,0

In [15]:
df.iloc[2:6,:]

,sepal.width,petal.length,petal.width,variety_Iris-setosa,variety_Iris-versicolor,variety_Iris-virginica
sepal.length,,,,,,
5.1,3.8,1.6,0.2,1,0,0
6.8,3.0,5.5,2.1,0,0,1
5.6,2.7,4.2,1.3,0,1,0
5.8,2.7,5.1,1.9,0,0,1

In [16]:
lenghtofData = len(df.index)
    
train_data   = df.iloc[0:int((lenghtofData*75)/100),:]
train_data

,sepal.width,petal.length,petal.width,variety_Iris-setosa,variety_Iris-versicolor,variety_Iris-virginica
sepal.length,,,,,,
6.5,3.2,5.1,2.0,0,0,1
5.0,3.0,1.6,0.2,1,0,0
5.1,3.8,1.6,0.2,1,0,0
6.8,3.0,5.5,2.1,0,0,1
5.6,2.7,4.2,1.3,0,1,0
...,...,...,...,...,...,...
5.0,3.2,1.2,0.2,1,0,0
4.8,3.0,1.4,0.3,1,0,0
4.7,3.2,1.3,0.2,1,0,0
5.7,2.6,3.5,1.0,0,1,0
6.1,2.8,4.0,1.3,0,1,0

##### Split dataset into train and test dataset

1. Idea is to make a generic function to split the train and test dataset. 
2. The ratio of train:test is a subject of discussion. 
3. To improve that discussion I have an idea. 
4. The idea is to train our network with different rations and record the observation. 
5. As a step one we can take 70:30 or please suggest if some paper have a better idea. 
6. After training the model once we could try with 75:25; 80:20 etc. depending upon our bandwidth and the motivation ;)

In [17]:
def split_train_test(data,tr, tst):
    
    lenghtofData = len(data.index)
    
    train_data_comp   = data.iloc[0:int((lenghtofData*tr)/100),:]
    test_data_comp    = data.iloc[0:int((lenghtofData*tst)/100),:]
    
    train_data    = train_data_comp[train_data_comp.columns[0:3]]
    train_label   = train_data_comp[train_data_comp.columns[3:]]
    
    test_data    = test_data_comp[test_data_comp.columns[0:3]]
    test_label   = test_data_comp[test_data_comp.columns[3:]]
    return train_data,train_label,test_data, test_label

In [18]:
trainData, trainLabel, testData, testLabel = split_train_test(df, 75,25)

In [19]:
np.shape(trainData)
np.shape(trainLabel)
# input(112,3)--->hidden layer[]--->output(3)
#relu();

(112, 3)

In [20]:
trainData

              sepal.width  petal.length  petal.width
sepal.length
6.5                   3.2           5.1          2.0
5.0                   3.0           1.6          0.2
5.1                   3.8           1.6          0.2
6.8                   3.0           5.5          2.1
5.6                   2.7           4.2          1.3
...                   ...           ...          ...
5.0                   3.2           1.2          0.2
4.8                   3.0           1.4          0.3
4.7                   3.2           1.3          0.2
5.7                   2.6           3.5          1.0
6.1                   2.8           4.0          1.3

[112 rows x 3 columns]