# IRIS

##### Import libraries

In [3]:
import pandas as pd
import numpy as np

##### Read dataset

In [15]:
df = pd.read_csv('Dataset/iris.data', index_col=0, header=None)

##### Perform 1 hot encoding on the dataset

In [16]:
df

       1    2    3               4
0
5.1  3.5  1.4  0.2     Iris-setosa
4.9  3.0  1.4  0.2     Iris-setosa
4.7  3.2  1.3  0.2     Iris-setosa
4.6  3.1  1.5  0.2     Iris-setosa
5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...             ...
6.7  3.0  5.2  2.3  Iris-virginica
6.3  2.5  5.0  1.9  Iris-virginica
6.5  3.0  5.2  2.0  Iris-virginica
6.2  3.4  5.4  2.3  Iris-virginica
5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 4 columns]

In [17]:
df = pd.get_dummies(df)

In [25]:
df

       1    2    3  4_Iris-setosa  4_Iris-versicolor  4_Iris-virginica
0
5.1  3.5  1.4  0.2              1                  0                 0
4.9  3.0  1.4  0.2              1                  0                 0
4.7  3.2  1.3  0.2              1                  0                 0
4.6  3.1  1.5  0.2              1                  0                 0
5.0  3.6  1.4  0.2              1                  0                 0
..   ...  ...  ...            ...                ...               ...
6.7  3.0  5.2  2.3              0                  0                 1
6.3  2.5  5.0  1.9              0                  0                 1
6.5  3.0  5.2  2.0              0                  0                 1
6.2  3.4  5.4  2.3              0                  0                 1
5.9  3.0  5.1  1.8              0                  0                 1

[150 rows x 6 columns]