# IRIS

##### Import libraries

In [1]:
import pandas as pd
import numpy as np

##### Read dataset

In [2]:
df = pd.read_csv('Dataset/iris.data', index_col=0, header=None)

##### Perform 1 hot encoding on the dataset

In [3]:
df

       1    2    3               4
0
5.1  3.5  1.4  0.2     Iris-setosa
4.9  3.0  1.4  0.2     Iris-setosa
4.7  3.2  1.3  0.2     Iris-setosa
4.6  3.1  1.5  0.2     Iris-setosa
5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...             ...
6.7  3.0  5.2  2.3  Iris-virginica
6.3  2.5  5.0  1.9  Iris-virginica
6.5  3.0  5.2  2.0  Iris-virginica
6.2  3.4  5.4  2.3  Iris-virginica
5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 4 columns]

In [4]:
df = pd.get_dummies(df)

In [5]:
df

       1    2    3  4_Iris-setosa  4_Iris-versicolor  4_Iris-virginica
0
5.1  3.5  1.4  0.2              1                  0                 0
4.9  3.0  1.4  0.2              1                  0                 0
4.7  3.2  1.3  0.2              1                  0                 0
4.6  3.1  1.5  0.2              1                  0                 0
5.0  3.6  1.4  0.2              1                  0                 0
..   ...  ...  ...            ...                ...               ...
6.7  3.0  5.2  2.3              0                  0                 1
6.3  2.5  5.0  1.9              0                  0                 1
6.5  3.0  5.2  2.0              0                  0                 1
6.2  3.4  5.4  2.3              0                  0                 1
5.9  3.0  5.1  1.8              0                  0                 1

[150 rows x 6 columns]

In [6]:
df = pd.get_dummies(df)

##### Shuffle the whole dataset
Shuffling the dataset before splitting because if we shuffle the dataset manually after splitting then the problem of mis-match data and label will occur.

In [7]:
df = df.sample(frac=1)

In [8]:
lenghtofData = len(df.index)
lenghtofData

150

In [9]:
df.iloc[:3,:]

       1    2    3  4_Iris-setosa  4_Iris-versicolor  4_Iris-virginica
0
6.2  2.8  4.8  1.8              0                  0                 1
5.7  3.8  1.7  0.3              1                  0                 0
4.8  3.0  1.4  0.1              1                  0                 0

In [10]:
df.iloc[2:6,:]

       1    2    3  4_Iris-setosa  4_Iris-versicolor  4_Iris-virginica
0
4.8  3.0  1.4  0.1              1                  0                 0
5.8  2.8  5.1  2.4              0                  0                 1
6.3  2.9  5.6  1.8              0                  0                 1
5.1  3.8  1.5  0.3              1                  0                 0

In [11]:
    lenghtofData = len(df.index)
    
    train_data   = df.iloc[0:int((lenghtofData*75)/100),:]
    train_data

       1    2    3  4_Iris-setosa  4_Iris-versicolor  4_Iris-virginica
0
6.2  2.8  4.8  1.8              0                  0                 1
5.7  3.8  1.7  0.3              1                  0                 0
4.8  3.0  1.4  0.1              1                  0                 0
5.8  2.8  5.1  2.4              0                  0                 1
6.3  2.9  5.6  1.8              0                  0                 1
..   ...  ...  ...            ...                ...               ...
4.8  3.1  1.6  0.2              1                  0                 0
5.1  3.3  1.7  0.5              1                  0                 0
5.4  3.9  1.3  0.4              1                  0                 0
6.0  2.7  5.1  1.6              0                  1                 0
6.3  2.3  4.4  1.3              0                  1                 0

[112 rows x 6 columns]

##### Split dataset into train and test dataset

1. Idea is to make a generic function to split the train and test dataset. 
2. The ratio of train:test is a subject of discussion. 
3. To improve that discussion I have an idea. 
4. The idea is to train our network with different rations and record the observation. 
5. As a step one we can take 70:30 or please suggest if some paper have a better idea. 
6. After training the model once we could try with 75:25; 80:20 etc. depending upon our bandwidth and the motivation ;)

In [12]:
def split_train_test(data,tr, tst):
    
    lenghtofData = len(data.index)
    
    train_data_comp   = data.iloc[0:int((lenghtofData*tr)/100),:]
    test_data_comp    = data.iloc[0:int((lenghtofData*tst)/100),:]
    
    train_data    = train_data_comp[train_data_comp.columns[0:3]]
    train_label   = train_data_comp[train_data_comp.columns[3:]]
    
    test_data    = test_data_comp[test_data_comp.columns[0:3]]
    test_label   = test_data_comp[test_data_comp.columns[3:]]
    return train_data,train_label,test_data, test_label

In [13]:
trainData, trainLabel, testData, testLabel = split_train_test(df, 75,25)

In [17]:
testData

       1    2    3
0
6.2  2.8  4.8  1.8
5.7  3.8  1.7  0.3
4.8  3.0  1.4  0.1
5.8  2.8  5.1  2.4
6.3  2.9  5.6  1.8
5.1  3.8  1.5  0.3
7.7  3.8  6.7  2.2
6.9  3.2  5.7  2.3
5.8  2.7  5.1  1.9
5.7  3.0  4.2  1.2
5.4  3.9  1.7  0.4
7.7  3.0  6.1  2.3
5.7  2.5  5.0  2.0
6.3  2.7  4.9  1.8
4.9  3.1  1.5  0.1
5.7  4.4  1.5  0.4
5.8  4.0  1.2  0.2
5.4  3.4  1.5  0.4
5.2  3.4  1.4  0.2
6.7  2.5  5.8  1.8
5.1  3.4  1.5  0.2
4.9  2.5  4.5  1.7
5.5  2.6  4.4  1.2
6.8  3.0  5.5  2.1
5.5  4.2  1.4  0.2
5.7  2.8  4.1  1.3
6.0  2.2  5.0  1.5
7.2  3.6  6.1  2.5
7.6  3.0  6.6  2.1
6.6  3.0  4.4  1.4
6.4  2.8  5.6  2.2
6.2  3.4  5.4  2.3
6.1  2.6  5.6  1.4
7.2  3.0  5.8  1.6
5.2  2.7  3.9  1.4
6.4  2.7  5.3  1.9
5.1  3.7  1.5  0.4